.top-title{
	text-align: center;
	font-family: arial;
	margin-top: 70px;
}
.top-container{
	margin-top: 40px;
	padding-left: 165px;
	padding-right: 165px;
	padding-top: 10px;
	width: 100%;
	height: 340px;
	display: flex;
	background-color: #F7F8FC;
	    box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
}
.anime{
	display: block;
	padding: 11.5px;
}
.anime-title{
	color: #363636;
    margin-left: 0px;
    margin-right: 0;
    padding-top: 0px;
    padding: 0;
    padding-top: 5px;
    font-weight: normal;
    font-family: SF UI Display Medium;
    font-style: normal;
    font-size: 15px;
    width: 140px;
    text-align: center;
}