*{
  padding: 0px;
  margin:0px;
}
.trailer{
	width: 100%;
	height: 100%;
}
.trailer-box{
 width: 90%;
 height: 200px;
 margin-left: 5%;
 margin-right: 5%;
 margin-top: 30px;
}


@media (min-width: 600px) {
.trailer{
	width: 100%;
	height: 100%;
}
.trailer-box{
	width: 570px;
	margin-left: 20px;
	margin-top: 50px;
	margin-right: 0px;
	height: 300px;
}



	}

@media (min-width: 1024px) {
.trailer{
	width: 100%;
	height: 100%;
}
.trailer-box{
	width: 700px;
	margin-left: 40px;
	margin-top: 50px;
	margin-right: 0px;
	height: 360px;
}



	}
@media (min-width: 1200px) {
.trailer{
	width: 100%;
	height: 100%;
}
.trailer-box{
	width: 720px;
	margin-left: 60px;
	margin-top: 50px;
	margin-right: 0px;
	height: 400px;

}



	}
@media (min-width: 1500px) {
.trailer{
	width: 780px;
	height: 100%;
}
.trailer-box{
	width: 780px;
	margin-left: 0px;
	margin-top: 30px;
	margin-bottom: 50px;
	margin-right: 0px;
	height: 439px;
	border: 0px solid #363636;
}



	}