.container-side-two{
	width: 360px;
	position: absolute;
    top: 315px;
    right: 170px;
    display: none;
}
.side-picture-two{
	border: 2px solid #363636;
	width: 356px;
}
.side-trending-header{
	margin-top: 30px;
	text-align: center;
    font-family: helvetica;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.side-trending-container{
	background-color: #F7F8FC;
	border: 2px solid #f2f2f2;
	padding: 15px;
	padding-bottom: 0;
}
.side-trending-container-element{
	padding-bottom: 15px;
	display: flex;
}
.side-element-img{
	    height: 70px;
    width: 115px;
    transform: translateX(-10px);
}
.side-element-text{
	font-family: helvetica;
	font-size: 14.5px;
	margin-left: 10px;
	margin-top: 5px;
	font-weight: bold;
	border-bottom: 3px solid #d3d3d3;
	width: 220px;
	color: #363636;
}
.picture-size{
	height: 70px;
    width: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (min-width: 1500px) {
.container-side-two{
	width: 360px;
	position: absolute;
    top: 310px;
    right: 180px;
    display: block;
}
.side-picture-two{
	border: 3px solid #363636;
	width: 356px;
}
.side-trending-header{
	margin-top: 30px;
	text-align: center;
    font-family: helvetica;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.side-trending-container{
	background-color: #F7F8FC;
	border: 2px solid #f2f2f2;
	padding: 15px;
	padding-bottom: 0;
}
.side-trending-container-element{
	padding-bottom: 15px;
	display: flex;
}
.side-element-img{
	    height: 70px;
    width: 115px;
    transform: translateX(-10px);
}
.side-element-text{
	font-family: helvetica;
	font-size: 14.5px;
	margin-left: 10px;
	margin-top: 5px;
	font-weight: bold;
	border-bottom: 3px solid #d3d3d3;
	width: 220px;
	color: #363636;
}
.picture-size{
	height: 70px;
    width: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
}
}