
@import '../menu-new/menu-new-design.css';
@import 'head/head.css';
@import 'body/body.css';
@import '../footer/footer-design.css';
a{
	text-decoration: none;
}
.margin-area{
    height: 80px;
    width: 100%;
}